.about {
  padding: 50px 0;
  position: relative;
  background-image: url('../../assets/img/about-bg.png');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about Col {
  justify-content: center !important;
}

.about p {
  color: #2a2c41;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}

.about h1 {

}
.about h2 {
  font-size: 45px;
  letter-spacing: 1.5px;
  font-weight: 700;
  text-align: center;
}
.about h4 {
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 1.5px;
  line-height: 1;
  margin-bottom: 10px;
  display: block;
  border: 3px solid #282c34;
  border-radius: 15px;
  padding: 15px;
  background: #ffffff;
}
.about-selfie {
  width: 80%;
  border-radius: 15px;
  box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}

.about-montra {
  margin-top: 30px !important;
  font-size: 16px !important;
  font-style: italic;
}
